@using Core_MVC.Models
@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Surname</th>
        <th>Employee City</th>
        <th>Employee Department ID</th>
        <th>Operations</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.EmployeeID</td>
            <td>@x.EmployeeName</td>
            <td>@x.EmployeeSurname</td>
            <td>@x.EmployeeCity</td>
            <td>@x.Department.DepartmentName</td>
            <td>
                @Html.ActionLink("Delete", "DeleteEmp", new { id = x.EmployeeID }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure?')" })
                <a href="/Employee/FetchEmp/@x.EmployeeID" class="btn btn-warning" style="margin-left:30px">Update</a>
            </td>
        </tr>
    }
</table>
<br />
<a href="/Employee/NewEmp/" class="btn btn-primary">Add Employee</a>

